body {
    overflow-y: hidden;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#afterloading {
    position: absolute;
    z-index: 9999;
    width: 100vw;
    color: white;
    transition: all 1s;
    opacity: 0;
}

#menu {
    width: 100%;
    z-index: 999999;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-title {
    font-size: 2rem;
}

#mini-menu {
    display: flex;
    gap: 5rem;
}

#mini-menu h1 {
    color: white;
    transition: 1s all;
    cursor: pointer;
    font-size: 1rem;
}

#body {
    display: flex;
    align-items: center;
    height: 85vh;
}

#about-description {
    width: 30vw;
    padding: 5rem;
    line-height: 1.5rem;
    letter-spacing: 3px;
    font-weight: 500;
    transition: all 1s;
}

#first-letter {
    font-size: 5rem;
}

#about-description-text {
    font-size: 1rem;
}